*, *::after, *::before {
    box-sizing: border-box;
}

#top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 95vw;
}

.question-container {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

#answer-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    justify-content: left;
    width: 50%;
}

.opening-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    place-items: center;
    width: 50%;
}

.btn {
    background-color: blueviolet;
    border-radius: 5px;
    color: whitesmoke;
    height: fit-content;
    width: fit-content;
}

.btn:hover {
    border: 2px solid black;
}

.display-correct, .display-wrong {
    border-top: 2px solid rgba(0, 0, 0, .5);
    text-align: left;
    color:rgba(0, 0, 0, .5);
    font-style: italic;
    padding: 5px
}

.hide {
    display: none;
}

#view-highscores:hover {
    cursor: pointer;
}